:host {
  display: block;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--header-width);
  margin: 0 auto;
  padding: 0 2rem;
  height: var(--header-height);
  background-color: var(--card-bg);
}

.logo h1 {
  font-family: var(--heading-font);
  color: var(--color-foreground);
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.hamburger .material-symbols-outlined {
  font-size: 24px;
  color: inherit;
  display: block;
  z-index: 1010;
}

@media (max-width: 768px) {
  .logo h1 {
    font-size: 1rem;
  }
  .header-container {
    padding: 1rem 0;
  }
}
