<div class="header-container">
  <div class="logo">
    <a routerLink="/films">
      <h1>Film Collection</h1>
    </a>
  </div>

  <div class="navigation-wrapper">
    <button
      class="btn btn-standard btn-icon btn-stealth hamburger"
      [class.active]="isMenuOpen()"
      (click)="toggleMenu()"
    >
      <span class="material-symbols-outlined">
        {{ isMenuOpen() ? 'close' : 'menu' }}
      </span>
    </button>

    @if (isMenuOpen()) {
      <nav class="navigation">
        <button class="btn btn-round-glass navigation-close" (click)="toggleMenu()">
          <span class="material-symbols-outlined">close</span>
        </button>
        <ul>
          @for (link of navLinks; track link.path) {
            <li>
              <a [routerLink]="link.path" routerLinkActive="active-link" (click)="toggleMenu()">
                {{ link.label }}
              </a>
            </li>
          }
        </ul>
      </nav>
    }
  </div>
</div>
